/.idea/.gitignore
/.idea/discord.xml
/PROD/Hello_World/bin/Debug/Hello_World.exe
/PROD/Hello_World/main.exe
/PROD/Hello_World/obj/Debug/main.o
/.idea/modules.xml
/PROD/UE04 Oktal/oktal.exe
/PROD/UE04 Oktal/oktal.o
/PROD/UE04 Oktal/pow-factorial.exe
/PROD/UE04 Oktal/pow-factorial.o
/.idea/Technikum.iml
/PROD/UE04 Oktal/test.exe
/PROD/UE04 Oktal/test.o
/.idea/vcs.xml
