<form class="container mt-5">
  <div class="mb-3">
    <label for="emailLogIn" class="form-label">E-Mail-Adresse</label>
    <input [formControl]="emailLogIn" type="email" class="form-control" id="emailLogIn" placeholder="Email eingeben" required>
    <span class="text-danger" *ngIf="emailLogIn.invalid && (emailLogIn.dirty || emailLogIn.touched)">
      {{getErrorMessage()}}
    </span>
  </div>
  <div class="mb-3">
    <label for="passwordLogIn" class="form-label">Passwort</label>
    <input [type]="hide ? 'passwordLogIn' : 'text'" [formControl]="passwordLogIn" class="form-control" id="passwordLogIn" placeholder="Passwort eingeben" required>
    <input type="checkbox" (click)="hide = !hide">Passwort anzeigen
    <span class="text-danger" *ngIf="passwordLogIn.invalid && (passwordLogIn.dirty || passwordLogIn.touched)">
      {{getErrorMessage()}}
    </span>
  </div>
  <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
</form>
